body{
	background-color: #0db8dd;
}

.md-button {
	font-size: 25px;
}

.next-btn {
	float: right; 
	text-transform: capitalize;
	background-color: #32cd32 !important;
}

.previous-btn {
	float: left; 
	text-transform: capitalize;
	background-color: #dda00d !important;

}